@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


:root {
    --font-primary: "Manrope", sans-serif;
    --grey-20: #333333;
    --grey-30: #4d4d4d;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #eeebe5;
    font-family: var(--font-primary);
    line-height: 1.6;
    padding: 40px 20px;
}

.benefits {
    max-width: 1596px;
    margin: 0 auto;
}

.benefits-header {
    text-align: center;
    margin-bottom: 50px;
}

.benefits-header h2 {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--grey-20);
}

.benefits-header p {
    font-size: 18px;
    color: var(--grey-30);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
}

.card {
    background-color: #f7f6f3;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.02);
    transition: transform 0.2s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
    line-height: 150%;
    color: var(--grey-20);
}

.card p {
    font-size: 18px;
    color: var(--grey-30);
}

.wide {
    grid-column: span 3;
}

.narrow {
    grid-column: span 2;
}

/* MARIO */

.contact ul{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    gap: 20px;    
    list-style-type: none;
    justify-content: right;
    align-items: center;
}

.we_loved_from_header ul{
    margin-top: 80px;
    margin-bottom: 40px;
    display: flex;
    text-decoration: none;
    list-style-type: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 18px;
    text-align: center;
}

.we_loved_from_header ul li{
    border: 1px  solid#EBE7E0;
    border-radius: 8px;
    padding: 12px 16px;}

.we_loved_from_description p{
    font-size: 20;
    color: #4D4D4D;
}

.we_loved_from_header h3{
    font-size: 48px;
    color: #333333;
    margin-bottom: 16px;
}

.we_loved_from .grid-container ul{
    display: flex;
    background: #F5F3F0;
    justify-content: center;
    width: 1296px;
    list-style-type: none;
    gap: 20px;
}

.iconos_redes .grid-container{
    display: flex;
    flex-direction: row;
    background: #F5F3F0;
    justify-content: center;
}

.we_loved_from .contact .destacado_uno{
    display: flex;
    color: #5700FF;
    font-size: 24px;
    justify-content: flex-start;
}

.destacado_dos{
    border: #F5F3F0;
    border-radius: 8px;
    color: #F5F3F0;
    padding: 5px; /* Opcional: añade un poco de espacio entre el contenido y el borde */
}
  