@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-color: #EEEBE5; 
    color: #1a1a1a;
    line-height: 1.5;
    font-family: "Manrope", sans-serif;
}

/* Layout Principal */
.hero-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
}

.container {
    max-width: 1200px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 60px;
    align-items: center;
}



.hero-content {
    max-width: 580px; 
}


.badge {
    display: inline-block;
    background-color: #fff;
    padding: 8px 16px;
    border-radius: 50px;
    font-weight: 500;
    font-size: 0.95rem;
    color: #444;
    margin-bottom: 25px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.03);
}

/* Título */
h1 {
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.15;
    margin-bottom: 20px;
    color: #222;
}

/* Párrafo */
.hero-text {
    color: #666;
    font-size: 1rem;
    margin-bottom: 35px;
    line-height: 1.6;
}

/* Botones */
.cta-buttons {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 50px;
}

.btn-primary {
    background-color: #6200ea;
    color: white;
    padding: 14px 28px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: background 0.3s;
}

.btn-primary:hover {
    background-color: #4a00b0;
}

.btn-link {
    color: #222;
    text-decoration: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 8px;
}


.stats-container {
    background-color: #ffffff; 
    padding: 30px 40px;        
    border-radius: 16px;       
    display: flex;
    justify-content: space-between; 
    align-items: center;
   
    box-shadow: 0 10px 30px rgba(0,0,0,0.02); 
    width: 117%; 
}

.stat-item h3 {
    font-size: 2.2rem;
    font-weight: 700;
    color: #222;
    line-height: 1;
    margin-bottom: 5px;
}

.stat-item .accent {
    color: #6200ea; 
    font-weight: 600;
}

.stat-item p {
    font-size: 0.9rem;
    color: #555;
    font-weight: 500;
    margin-top: 5px;
}

.hero-person {
    max-width: 110%;
    height: auto;
    position: relative;
    bottom: -10px;
    z-index: 2;
}

/* Responsive */
@media (max-width: 900px) {
    .container {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 40px;
    }

    .hero-content {
        margin: 0 auto;
    }
    
    .cta-buttons {
        justify-content: center;
    }

   
    .stats-container {
        flex-direction: row; 
        gap: 20px;
        justify-content: space-around;
        padding: 20px;
    }
    
    .hero-image-wrapper {
        height: 400px;
    }
    
    h1 {
        font-size: 2.5rem;
    }
}