@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


:root {
    --font-primary: "Manrope", sans-serif;
    --grey-20: #333333;
    --grey-30: #4d4d4d;
    
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #eeebe5;
    font-family: var(--font-primary);
    line-height: 1.6;
    padding: 40px 20px;
}

.benefits {
    max-width: 1596px;
    margin: 0 auto;
}

.benefits-header {
    text-align: center;
    margin-bottom: 50px;
}

.benefits-header h2 {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--grey-20);
}

.benefits-header p {
    font-size: 18px;
    color: var(--grey-30);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
}

.card {
    background-color: #f7f6f3;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.02);
    transition: transform 0.2s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
    line-height: 150%;
    color: var(--grey-20);
}

.card p {
    font-size: 18px;
    color: var(--grey-30);
}

.wide {
    grid-column: span 3;
}

.narrow {
    grid-column: span 2;
}

.heroabout{
  display: flex;
  width: 80%;
  margin: auto;
  padding-top: 124px;
  gap: 80px;
  justify-content: center;
}

.heroaboutdescription{
width: 758px;
}

.welcome{
display: flex;
height: 64;
font-size: 24px;
background-color: white;
color: #333333;
width: 540px;
border-radius: 8px;
align-items:center;
justify-items: center;
}

.imjeff{
padding-top: 20px;
}

.imjeff h1,.milestonesintroduction h1{
font-size: 58px;
color: #333333;
}

.imjeff p{
color: #4D4D4D;
font-size: 14px;
}

.aboutstats{
 display: flex;
 margin-top: 60px;
 padding: 20px 0px 20px 0px;
 border: solid #5700FF 1px;
 border-left: none;
 border-right: none;
 gap: 50px;
}

.aboutstats p, .milestonesintroduction p{
color: #4D4D4D;
font-size: 18px;
}

.milestones{
  width: 1596px;
  height: auto;
  margin: auto;
  padding-top: 150px;
  justify-content: center;
}

.milestonesintroduction{
width: 996px;
margin: auto;
display: flex;
flex-direction: column;
text-align: center;
}

.milestonesintroduction h1{
font-size: 58px;
color: #333333;
}

.timelinerecent{
left: 50%;
border: solid, #9E00FF 2px;
border-top: none;
border-bottom: none;
border-left: none;
height: 430px;
position: absolute;
}

.timelineold{
left: 50%;
border: solid, #DDCCFF 2px;
border-top: none;
border-bottom: none;
border-left: none;
height: 430px;
position: absolute;
}

.now{
    display: flex;
    justify-self: center;
    padding: 15px 36px;
    font-size: 18px;
    justify-content: center;
    margin-top: 100px;
    background-color: white;
    border-radius: 8px;
    color: #333333;
}

.year{
    display: flex;
    justify-self: center;
    padding: 15px 36px;
    font-size: 18px;
    justify-content: center;
    margin-top: 141px;
    background-color: white;
    border-radius: 8px;
}

.year2018{
    display: flex;
    justify-self: center;
    padding: 15px 36px;
    font-size: 18px;
    justify-content: center;
    margin-top: 141px;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 40px;
}

.milestonerow{
display: flex;
align-items: center;
margin-top: 52.5px;
width: 1596px;
height: 237px;
}

.milestonerow-reverse{
display: flex;
flex-direction: row-reverse;
align-items: center;
margin-top: 52.5px;
width: 1596px;
height: 237px;
}

.milestonesquare{
display: flex;
align-items: center;
width: 731px;
height: 212px;
background: #f7f6f3;
border-radius: 12px;
}

.milestonesquare-reverse{
display: flex;
flex-direction: row-reverse;
align-items: center;
width: 731px;
height: 212px;
background: #f7f6f3;
border-radius: 12px;
}

.milestonesquarefinale{
display: flex;
justify-self: center;
align-items: center;
width: 788px;
margin-bottom: 150px;
height: 221px;
background: #f7f6f3;
font-size: 18px;
border-radius: 12px;
}

.milestonesquare p{
margin-left: 50px;
font-size: 18px;
color: #333333;
}

.milestonesquare img{
width: 112px;
margin-right: 50px;
}

.milestonesquare-reverse p{
margin-right: 50px;
font-size: 18px;
color: #333333;
}

.milestonesquare-reverse img{
width: 112px;
margin-left: 50px;
margin-right: 30px;
}

.milestonesquarefinale img{
width: 112px;
margin-left: 50px;
margin-right: 30px;
}

.milestonesquarefinaletext{
margin-right: 50px;
color: #333333;
}

.milestonesquarefinaletext h3{
font-size: 22px;
}

.milestonesquarefinaletext p{
font-size: 18px;
}

.speech-bubble {
	position: relative;
	background: #f7f6f3;
	border-radius: .4em;
    margin-right: 143px;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 12px solid transparent;
	border-left-color: #f7f6f3;
	border-right: 0;
	margin-top: -12px;
	margin-right: -12px;
}

.speech-bubbleleft {
	position: relative;
	background: #f7f6f3;
	border-radius: .4em;
    margin-left: 143px;
}

.speech-bubbleleft:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 12px solid transparent;
	border-right-color: #f7f6f3;
	border-left: 0;
	margin-top: -12px;
	margin-left: -12px;
}

.speech-bubbletop{
	position: relative;
	background: #f7f6f3;
	border-radius: .4em;
}

.speech-bubbletop:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 12px solid transparent;
	border-bottom-color: #f7f6f3;
	border-top: 0;
	margin-left: -12px;
	margin-top: -12px;
}

.dot{
left: 48.8%;
position: absolute;
}

.dotreverse{
right: 48.8%;
position: absolute;
}

.milestonedescription{
    padding: 15px 36px;
    font-size: 18px;
    justify-content: center;
    background-color: white;
    border-radius: 8px;
    color: #333333;
}
